body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10px;
}

.card {
    position: relative;
    width: 310px;
    height: 600px;
    margin: 1px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        flex: 1 1 calc(100% - 20px);
    }
    .card-text{
        display: none;
    }
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.6s ease, transform 0.6s ease;
    cursor: pointer; /* Add cursor pointer */
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card .know-more {
    display: none;
    margin-top: 10px;
    color: rgb(0, 217, 255);
    text-decoration: none;
}

.card:hover img {
    filter: grayscale(100%) blur(5px);
    transform: scale(1.1);
}

.card:hover .know-more {
    display: block;
}

p {
    font-size: 11px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: #bbb;
}
